# Core dependencies for the NBA analytics pipeline

# Data Handling
pandas
numpy
datasets   # Hugging Face datasets library

# API/Config
requests
toml
python-dotenv

# Model Artifacts
joblib

# Machine Learning
scikit-learn
xgboost
lightgbm

# Neural Network (NN) model
tensorflow

# Plotting
matplotlib
seaborn

# Console Output
colorama
rich

# Testing
pytest