version: "3.9"

services:
  pipeline:
    build: .
    command: python -m src.pipeline.pipeline_runner data/history/schedule.parquet
    ports:
      - "8000:8000"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - ./monitoring/grafana_dashboard.json:/var/lib/grafana/dashboards/dashboard.json
