name: NBA Daily Prediction Pipeline

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 17 * * *'  # Runs every day at 17:00 UTC

jobs:
  fetch-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Fetch historical NBA data
        run: |
          echo "Fetching historical NBA data..."
          python src/scripts/generate_historical_schedule.py

      - name: Generate Today's Schedule
        run: |
          echo "Generating today's NBA schedule..."
          python -m src.scripts.generate_today_schedule

  generate-features:
    needs: fetch-data
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate features for today's games
        run: |
          echo "Generating features for today's games..."
          python -m src.scripts.generate_features

  run-daily-predictions:
    needs: generate-features
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Daily Prediction Runner
        run: |
          echo "Running NBA Daily Prediction Runner..."
          python src/daily_runner/daily_runner_mflow.py --model models/nba_logreg.pkl --run_shap
